* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: linear-gradient(135deg, #5b5d5e29 0%, #1a1b1c54 100%);
    --color-primary: #2675A6;
    --color-secondary: #79ACD9;
    --color-blanco: #F2F2F2;
    --color-gris: #595959;
    --boton-padding: 20px 40px;
}

.videos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin-top: 5%;
}

.cards__card {
    width: 40%;
    background-color: var(--color-amarillo);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 3px #79ACD9;
    margin: 5px;
}

.cards__videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.cards__videos video {
    width: 70%;
    border-radius: 10px;
}

.videos h4{
    font-size: 2rem;
    text-align: center;
    color: var(--color-primary);
}

.navbar-brand img{
    width: 4rem;
}
.contenedor-nav{
    display: flex;
    justify-content: space-between;
}